In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
df = pd.DataFrame(randn(3,3),["A","B","C"],["C1","C2","C3"])

In [4]:
df

         C1        C2        C3
A  0.660045 -0.633767 -0.372532
B  0.258464 -1.625778 -1.519354
C -0.006460  0.248076 -0.086406

In [5]:
df.loc["A"]

C1    0.660045
C2   -0.633767
C3   -0.372532
Name: A, dtype: float64

In [7]:
df["C4"] = pd.Series(randn(3),["A","B","C"])

In [8]:
df

         C1        C2        C3        C4
A  0.660045 -0.633767 -0.372532 -1.436004
B  0.258464 -1.625778 -1.519354 -0.241209
C -0.006460  0.248076 -0.086406  0.689881

In [9]:
df["C5"] = df["C1"] + df["C2"]+df["C3"]

In [10]:
df

         C1        C2        C3        C4        C5
A  0.660045 -0.633767 -0.372532 -1.436004 -0.346254
B  0.258464 -1.625778 -1.519354 -0.241209 -2.886667
C -0.006460  0.248076 -0.086406  0.689881  0.155211

In [13]:
df.drop("C4",axis = 1,inplace = True)

In [14]:
df

         C1        C2        C3        C5
A  0.660045 -0.633767 -0.372532 -0.346254
B  0.258464 -1.625778 -1.519354 -2.886667
C -0.006460  0.248076 -0.086406  0.155211

In [16]:
df.iloc[0]

C1    0.660045
C2   -0.633767
C3   -0.372532
C5   -0.346254
Name: A, dtype: float64

In [17]:
df.iloc[0][0]

0.6600449025543959