In [7]:
import pandas as pd
import numpy as np
from numpy.random import randn
outIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [2]:
inIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [4]:
list(zip(outIndex,inIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [5]:
hier = list(zip(outIndex,inIndex))

In [9]:
hier  = pd.MultiIndex.from_tuples(hier)

In [10]:
hier

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [13]:
df = pd.DataFrame(randn(9,3),hier,columns =["C1","C2","C3"])

In [14]:
df

                     C1        C2        C3
Group1 Index1 -0.004537  0.645618 -0.450401
       Index2  0.982745 -0.652208  0.460389
       Index3  0.566247  1.195309  0.111969
Group2 Index1  0.979087 -2.871294 -0.013665
       Index2  1.015609 -2.266482  1.149889
       Index3 -0.191997 -1.287594  0.551582
Group3 Index1 -1.843447  0.155337 -0.278060
       Index2 -0.128715  0.543400  0.750680
       Index3  0.994117 -1.063380  1.742056

In [16]:
df.index.names=["Groups","Indexes"]

In [17]:
df

                      C1        C2        C3
Groups Indexes
Group1 Index1  -0.004537  0.645618 -0.450401
       Index2   0.982745 -0.652208  0.460389
       Index3   0.566247  1.195309  0.111969
Group2 Index1   0.979087 -2.871294 -0.013665
       Index2   1.015609 -2.266482  1.149889
       Index3  -0.191997 -1.287594  0.551582
Group3 Index1  -1.843447  0.155337 -0.278060
       Index2  -0.128715  0.543400  0.750680
       Index3   0.994117 -1.063380  1.742056

In [18]:
df.xs("Group1")

               C1        C2        C3
Indexes
Index1  -0.004537  0.645618 -0.450401
Index2   0.982745 -0.652208  0.460389
Index3   0.566247  1.195309  0.111969

In [19]:
df.xs("Group1").xs("Index1")

C1   -0.004537
C2    0.645618
C3   -0.450401
Name: Index1, dtype: float64

In [21]:
df.xs("Group1").xs("Index1").xs("C1")

-0.004537301229849559

In [22]:
df.xs("Index1",level = "Indexes")

              C1        C2        C3
Groups
Group1 -0.004537  0.645618 -0.450401
Group2  0.979087 -2.871294 -0.013665
Group3 -1.843447  0.155337 -0.278060