In [4]:
import pandas as pd
import numpy as np

In [6]:
arr = np.array([[5,25,np.nan],[10,np.nan,np.nan],[21,np.nan,15]])

In [7]:
arr

array([[ 5., 25., nan],
       [10., nan, nan],
       [21., nan, 15.]])

In [8]:
df = pd.DataFrame(arr,["Index1","Index2","Index3"],["C1","C2","C3"])

In [9]:
df

          C1    C2    C3
Index1   5.0  25.0   NaN
Index2  10.0   NaN   NaN
Index3  21.0   NaN  15.0

In [10]:
df.dropna(axis = 1)

          C1
Index1   5.0
Index2  10.0
Index3  21.0

In [11]:
df.dropna(thresh = 2)

          C1    C2    C3
Index1   5.0  25.0   NaN
Index3  21.0   NaN  15.0

In [12]:
df.fillna(value = 1)

          C1    C2    C3
Index1   5.0  25.0   1.0
Index2  10.0   1.0   1.0
Index3  21.0   1.0  15.0

In [13]:
df.sum()

C1    36.0
C2    25.0
C3    15.0
dtype: float64

In [14]:
df.sum().sum()

76.0

In [16]:
df.size

9

In [17]:
df.isnull

<bound method DataFrame.isnull of           C1    C2    C3
Index1   5.0  25.0   NaN
Index2  10.0   NaN   NaN
Index3  21.0   NaN  15.0>

In [19]:
df.isnull().sum()

C1    0
C2    2
C3    2
dtype: int64

In [25]:
def calculate(df):
    totals = df.sum().sum()
    totaln = df.size() - df.isnull().sum().sum()
    return totals /  totaln

In [28]:
df.fillna(value = calculate(df),inplace = True)

TypeError: 'numpy.int32' object is not callable